  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f6fc;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

h1, h2 {
    color: #2c3e50;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="file"],
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    background-color:#FFC000;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 600;
}

button:hover {
    background-color: #F5DEB3;
}

.card {
    background: #f9f8f8;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}